name: Build LCTaskForPIDTweak

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build
      run: |
        xcodebuild -scheme LCTaskForPIDTweak 
                   -project LCTaskForPIDTweak.xcodeproj 
                   -configuration Release 
                   -sdk iphoneos 
                   -derivedDataPath build 
                   CODE_SIGNING_ALLOWED=NO 
                   CODE_SIGNING_REQUIRED=NO 
                   CODE_SIGN_IDENTITY=""

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: LCTaskForPIDTweak.dylib
        path: build/Build/Products/Release-iphoneos/LCTaskForPIDTweak.dylib
